html { 
    background: url("../Hal_Room.jpg") no-repeat center fixed;
    background-size: cover;
}
body{
    
}

h1{
    font-family: 'Aldrich', sans-serif;
    /*font-family: 'Chathura', sans-serif;*/
    font-size: 25vh;
    text-align: center;
    line-height: 5vh;
    color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
   
}

.title{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 25vh;
    perspective: 800px;
}

.elem1{
    border: 1px solid rgb(64, 217, 34);
}
.elem2{
    border: 1px solid rgb(64, 217, 34);
}
.elem3{
    border: 1px solid rgb(64, 217, 34);
}
.elem4{
    border: 1px solid rgb(64, 217, 34);
}