html { 
    background: url("Images/Hal_Room.jpg") no-repeat center fixed;
    background-size: cover;
}
body{
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .middle{
        transform: translateY(-2vh);
    }
}
@media screen and (min-width: 700px) {
    .middle{
        transform: translateY(-21vh);
    }
}

h1{
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    line-height: 0;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    margin-bottom: 8vh;
   
}
@media screen and (max-width: 700px) {
    h1{
        font-size: 20vh;
    }
}
@media screen and (min-width: 700px) {
    h1{
        font-size: 20vw;
    }
}

h2{
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    font-size: 5vh;
    line-height: 5vh;
    color: white;
    /*border: 1px solid rgb(64, 217, 34);*/
}
@media screen and (max-width: 700px) {
    h2{
        width: 100%;
        position: absolute;
        left: 50%;
        bottom: -1vh;
        transform: translate(-50%);
    }
}
@media screen and (min-width: 700px) {
    h2{
        width: auto;
        position: relative;
        transform: translate(-10vw, 10vw)
    }
}

h3{
    display: block;
    font-family: 'Chathura', sans-serif;
    line-height: 0%;
    font-size: 3.5vh;
    margin-top: 0%;
    margin-bottom: 0%;
    line-height: 0;
    padding: none;
    color: white;
    margin: none;
    /*border: 1px solid rgb(64, 217, 34);*/
}

.header{
    position: block;
    width: auto;
    display: flex;
    margin-top: 2vh;
    height: 3vh;
    justify-content: space-between;
    /*border: 1px solid rgb(64, 217, 34);*/
}


.title{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    perspective: 800px;
    /*border: 1px solid rgb(64, 217, 34);*/
} 
@media screen and (max-width: 700px) {
    .title{
        height: 90vh;
        margin-left: auto;
        margin-right: auto;
        overflow: inherit;
        width: auto;
        margin-top: -2vh;
        flex-direction: column;
    }
}
@media screen and (min-width: 700px) {
    .title{
        width: 100%;
        margin-top: 15vh;
        flex-direction: row;
    }
}

.elem1{
    /*border: 1px solid rgb(64, 217, 34);*/
}
.elem2{
    /*border: 1px solid rgb(64, 217, 34);*/
}
.elem3{
    /*border: 1px solid rgb(64, 217, 34);*/

}
.elem4{
    /*border: 1px solid rgb(64, 217, 34);*/
}
.elemFill{
    margin-bottom: 22vh;
    margin-right: 6vw;
    margin-left: 6vw;
}


.pic{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 4;
    /*border: 1px solid rgb(64, 217, 34);*/
}
@media screen and (max-width: 700px) {
    .pic{
        width: 80vw;
        min-width: 500px;
        transform: translate(0px,3vh);
    }
}
@media screen and (min-width: 700px) {
    .pic{
        width: 60vw;
        max-width: 1000px;
        transform: translateY(15vh);
    }
}

img{
    width: 100%;
    animation: float 6s ease-in-out infinite;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

/*QUOTE*/

.quote{
    display: flex;
    justify-content: space-between;
    position: absolute;
    overflow: hidden; 
    /*border: 1px solid rgb(64, 217, 34);"*/
}
@media screen and (max-width: 700px) {
    .quote{
        flex-direction: column;
        rotate: 0deg;
        height: 45vh;
        width: 40vw;
        transform-origin: top right;
        right: 0vh;
        top: 45vh;
    }
}
@media screen and (min-width: 700px) {
    .quote{
        flex-direction: column;
        rotate: -90deg;
        height: 40vw;
        width: 30vh;
        transform-origin: bottom left;
        left: 98vw;
        bottom: 15vh;
        transform: translateX(-50%);
    }
}

.text{
    width: 25vh;
    /*border: 1px solid rgb(64, 217, 34);*/
}
@media screen and (max-width: 700px) {
    .text{
        width: 40vw;
    }
}

.textM{
    display: flex;
    justify-content: space-between;
    background-color: black;
    transition: 1s transform ease-in-out;
}
.textM.active{
    transform: translateX(0vh);
}
@media screen and (max-width: 700px) {
    .textM {
        transform: translateX(14vh);
        width: 40vw;
        flex-direction: row-reverse;
    }
}
@media screen and (min-width: 700px) {
    .textM {
        transform: translateX(-19vh);
        width: 25vh;
        transition: transform 3s ease-out 0s;
    }
}
@media screen and (max-width: 700px) {
    .quote :nth-child(2) .textM{
        transition-delay: 0.5s;
    }
    .quote :nth-child(3) .textM{
        transition-delay: 1s;
    }
    .quote :nth-child(4) .textM{
        transition-delay: 1.5s;
    }
    .quote :nth-child(5) .textM{
        transition-delay: 2s;
    }
    .quote :nth-child(6) .textM{
        transition-delay: 2.5s;
    }
}

  
.text:hover .textM{
    transform: translateX(0vh);
    /*animation-play-state: running;*/
}
  
@media screen and (max-width: 700px) {
    @keyframes slide {
        0% {transform: translateX(14vh);}
        20% {transform: translateX(14vh);}
        80% {transform: translateX(0);}
        100% {transform: translateX(0);}
    }
}


p{
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 2vh;
    padding-right: 2vh;
    font-family: 'Chathura', sans-serif;
    font-size: 5vh;
    color: white;
    line-height: 5vh;
}
@media screen and (max-width: 700px) {
    p {
        font-size: 8vw;
        line-height: 8vw;
    }
}