html { 
    background: url("../Hal_Room.jpg") no-repeat center fixed;
    background-size: cover;
}

@media screen and (max-width: 700px) {
    .middle{
        transform: translateY(-2vh);
    }
}
@media screen and (min-width: 700px) {
    .middle{
        transform: translateY(-21vh);
    }
}

h1{
    font-family: 'Aldrich', sans-serif;
    /*font-family: 'Chathura', sans-serif;*/
    text-align: center;
    line-height: 0;
    color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    margin-bottom: 8vh;
   
}
@media screen and (max-width: 700px) {
    h1{
        font-size: 15vh;
    }
}
@media screen and (min-width: 700px) {
    h1{
        font-size: 20vw;
    }
}

h2{
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    font-size: 5vh;
    line-height: 5vh;
    color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(64, 217, 34);

}

h3{
    display: block;
    font-family: 'Chathura', sans-serif;
    font-size: 3.5vh;
    line-height: 0;
    padding: none;
    color: white;
    margin: none;
    border: 1px solid rgb(64, 217, 34);
}

.header{
    position: relative;
    width: auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(64, 217, 34);
}


.title{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    perspective: 800px;
    border: 1px solid rgb(64, 217, 34);
} 
@media screen and (max-width: 700px) {
    .title{
        height: 80vh;
        width: auto;
        margin-top: -4vh;
        flex-direction: column;
    }
}
@media screen and (min-width: 700px) {
    .title{
        width: 100%;
        margin-top: 15vh;
        flex-direction: row;
    }
}

.elem1{
    border: 1px solid rgb(64, 217, 34);
}
.elem2{
    border: 1px solid rgb(64, 217, 34);
}
.elem3{
    border: 1px solid rgb(64, 217, 34);

}
.elem4{
    border: 1px solid rgb(64, 217, 34);
}
.elemFill{
    margin-bottom: 22vh;
    margin-right: 6vw;
    margin-left: 6vw;
}


.pic{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 4;
    width: 45%;
    border: 1px solid rgb(64, 217, 34);
}
@media screen and (max-width: 700px) {
    .pic{
        width: 80vw;
        min-width: 500px;
        transform: translate(0px,3vh);
    }
}
@media screen and (min-width: 700px) {
    .pic{
        height: 100%;
    }
}

img{
    width: 100%;
    animation: float 6s ease-in-out infinite;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
